<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видеоурок: пример воспроизведения</title>
</head>
<body class="tutorial-video">
    <h1>Видеоурок</h1>

    <video class="tutorial-video-player" controls playsinline style="width: 100%; max-width: 900px; border-radius: 12px; outline: none;">
        <source src="/assets/tutorials/rustoredownload/rustore.mp4" type="video/mp4">
        Ваш браузер не поддерживает воспроизведение видео.
    </video>

    
</body>
</html>
