
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>msk communicator</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        
    </style>
</head>
<body>
    {% include "topbar.tmpl" %}

	<div class="reg-main-content">
		<div  class="reg-form">
			<h1 class="reg-title">Регистрация</h1>
			<form action="/api/account/register" method="post" id="reg_form">

				<label for="name" class="reg-form-labels">ФИО:</label>
				<input type="text" id="name" name="name" placeholder="Введите ФИО" class="reg-form-inputs"><br>

				<label for="tel" class="reg-form-labels">Номер телефона:</label>
				<input type="tel" id="tel" name="tel" placeholder="Введите номер телефона " class="reg-form-inputs"><br>

				<label for="pwd" class="reg-form-labels">Пароль:</label>
				<input type="password" id="pwd" name="pwd" placeholder="Введите пароль" class="reg-form-inputs"><br>

				<input type="submit" id="pwd" name="pwd" placeholder="Создать аккаунт" class="reg-button-submit-login" value="Создать аккаунт"><br>

			</form>
            <p><a href="/login">уже есть аккаунт? войти</a></p>
		</div>

		<div class="reg-images">
			<img src="/assets/register/max-logo.png" alt="MAX" class="reg-side-img">
			<p class="reg-under-image-paragraph">Мы научим вас пользоваться Российским мессенджером MAX!</p>
		</div>

	</div>
</body>
</html>
