<div id="topbar">
    <div class="topbar-left">
        <a href="/" class="topbar-logo">
            <img src="/assets/logo.svg" class="logo" alt="msk communicator">
        </a>
        <a href="/tutorials" class="topbar-link">туториалы</a>
    </div>
    <div class="topbar-right">
        {% if yes_login %}
            <span class="topbar-greeting">привет, {{ user_name }}</span>
            <a href="/account/" class="topbar-link">аккаунт</a>
            <a href="/logout" class="topbar-link topbar-logout">выйти</a>
        {% else %}
            <a href="/register" class="topbar-link">вход/регистрация</a>
        {% endif %}
    </div>
</div>
