body {
	background-image: url(reg-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Arial';
}
.reg-title {
	font-size: 4vw;
	font-weight: bold;
	margin: auto;
	width: fit-content;
	background-color: yellow;
	margin-top: 1vw;
	margin-bottom: 2vw;
}
.reg-main-content {
	display: flex;
	justify-content: left;
	gap: 1vw;
	margin-top: 5vw;
}
.reg-form {
	flex: 0 1 75vw;
	border-right: 2px solid gray;

}
.reg-form-labels {
	font-size: 3vw;
	font-weight: bold;
	width: fit-content;
}
.reg-form-inputs {
	font-size: 3vw;
	height: fit-content;
	width: fit-content;
	margin-top: 2vw;
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding-right: 3vw;
}
.reg-button-submit-register {
	font-size: 3vw;
	font-weight: bold;
	margin-top: 3vw;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #99e550;
}
.reg-button-submit-login {
	font-size: 24px;
	font-weight: bold;
	margin-top: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #a6c5ff;
	margin-left: 16px;
	border: 2px solid black;
	border-radius: 10px;
	
}
.reg-button-submit-login:hover{
	

}
.reg-images {
    flex: 0 1 20vw;
	margin: auto;
}

.reg-side-img {
    width: 100%;
    height: auto;
}
.reg-under-image-paragraph {
	display: block;
	font-size: 2vw;
	margin-top: 1vw;
	line-height: 1.2;
	text-align: center;
	font-weight: bold;
	
}
